<% content_for :mainbar do %>
  <%= image_tag @current_author.avatar, class: 'author_avatar'%>
  <h2 class="author_name"><%= @current_author.name %></h2>
  <div class="author_bio"><%= @current_author.bio %></div>
  <div class="author_twitter"><%= link_to "@#{ @current_author.twitter }", "http://twitter.com/#{@current_author.twitter}" %></div>
  <div class="author_website"><%= link_to @current_author.website, @current_author.website %></div>
<% end %>
<% content_for :author_class do %><%= @current_author.author_class %><% end %>
<nav class="post_nav nav">
  <a href="<%= posts_path %>" class="back_arrow"><span class="icon">←</span>Regresar a articulos</a>
</nav>
<article class="post">
  <h3 class="post_subject"><%= @post.subject %></h3>
  <div class="post_info">Del <%= @post.created_at %> en <%= link_to 'nombre del tema', '#' %></div>
  <div class="post_body">
    <%= @post.body %>
  </div>
</article>