<!DOCTYPE html>
<html>
<head>
  <title>Svtil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "/authors", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container <%= yield :author_class if content_for?(:author_class) %>">
    <div class="content">
      <%= yield %>
    </div>
    <div class="mainbar">
      <div class="wrapper">
        <% if content_for? :mainbar %>
          <%= yield :mainbar %>
        <% else %>
          <h1><%= link_to image_tag('logo.png', alt: 'Svtil'), root_url(host:DEFAULT_HOST)%></h1>
        <% end %>
        <div class="sitewide_nav">
          <%= link_to image_tag('sitewide_logo.png', alt: 'Svtil'), root_url(host:DEFAULT_HOST)%>
        </div>
      </div>
    </div>
  </div>
  <% if Rails.env.development? -%>
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  <% end %>
</body>
</html>
