<!DOCTYPE html>
<html>
<head>
  <title>Svtil</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container <% if content_for? :author_class %><%= yield :author_class %><% end %>">
    <div class="mainbar">
      <div class="wrapper">
        <% if content_for? :mainbar %>
          <%= yield :mainbar %>
        <% else %>
          <h1><%= link_to image_tag('logo.png', alt: 'Svtil'), root_url(host:DEFAULT_HOST)%></h1>
        <% end %>
        <div class="sitewide_nav">
          <%= link_to image_tag('sitewide_logo.png', alt: 'Svtil'), root_url(host:DEFAULT_HOST)%>
        </div>
      </div>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
